section {
  background: rgb(0, 0, 0);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  box-sizing: border-box;
  column-gap: 15px;
  row-gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.container-img-rickAndMorty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  /* border: 1px solid gray; */
  border-radius: 10px;
  /* background-color: rgba(37, 3, 78, 0.272); */
  /* background-color: rgba(255, 255, 255, 0.87); */
  background: linear-gradient(rgba(37, 3, 78, 0.272), rgba(37, 3, 78, 0.07));

  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.container-img-rickAndMorty:hover {
  border: 1px solid #00b5cc;
  /* box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
    rgba(29, 78, 216, 0.3) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
  transition: border 0.5s;
}

.span-cap {
  color: white;
}
p {
  font-size: 15px;
  color: #9e9e9e;
}
.species {
  font-size: 17px;
  color: white;
}
.gender {
  font-size: 17px;
  color: white;
}
.images {
  width: 50%;
  height: auto;
  border-radius: 10px 0 0 10px;
  transition-duration: 0.5s;
  display: flex;
}
.container-img-rickAndMorty:hover .images {
  scale: 1.05;
  border-radius: 10px;
  box-sizing: border-box;
}
.container-info {
  border-radius: 0 10px 10px 0;
  /* background-color: rgba(37, 3, 78, 0.235); */
  /* background-color: rgba(255, 255, 255, 0.87); */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  gap: 5px;
  padding: 0;
  margin: 0;
}
.name {
  text-transform: uppercase;
  font-size: clamp(20px, 4vw +1rem, 48px);
  font-weight: 900;
}

.logo {
  margin: 0 auto;
}
